*.pyc
*.idea
*.db
*.db-*
*.sass-cache
*.orig
*.json
config/*
!config/config.ini.example
static/dist/
node_modules/
venv/
core
src/
_build
_build_html
beehive.*
static/pixel_icons/*.png
static/icons-sprite.png		
static/icons-large-sprite.png		
static/icons/*.png
*.csv
*.bat
*.sh
*.log
!docs/make.bat
!Tools/Easy-Setup/easy-setup.sh
!Tools/Easy-Setup/setup.bat
!contrib/supervisord/gen-workers.sh
!contrib/supervisord/install-reinstall.sh
!static/data/*
!static/icons/hsl*.png
