*.pyc
*.idea
*.db
*.db-*
*.sass-cache
*.orig
*.json
config/*
!config/config.ini.example
geofences/*
!geofences/*.example
static/dist/
node_modules/
venv/
core
src/
_build
_build_html
beehive.*
static/images/raid/*.png
!static/images/raid/*_unknown.png
static/icons-sprite.png
static/icons-large-sprite.png
static/icons/*.png
static/css/custom.css
static/js/custom.js
static/rarity.json
*.csv
*.bat
*.sh
*.log
!docs/make.bat
!Tools/Easy-Setup/easy-setup.sh
!Tools/Easy-Setup/setup.bat
!contrib/supervisord/gen-workers.sh
!contrib/supervisord/install-reinstall.sh
!static/data/*
!static/icons/hsl*.png
!static/app/settings.json
