six==1.10.0
Flask==0.11.1
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.10
configargparse==0.10.0
click==6.6
itsdangerous==0.24
peewee==2.8.1
wsgiref==0.1.2
geopy==1.11.0
s2sphere==0.2.4
PyMySQL==0.7.5
flask-cors==2.1.2
flask-compress==1.3.0
LatLon==1.0.1
git+https://github.com/pogodevorg/pgoapi.git@4b92d368d993721730669069bc50e2a9b2e7b0f8#egg=pgoapi
xxhash
sphinx==1.4.5
sphinx-autobuild==0.6.0
recommonmark==0.4.0
sphinx_rtd_theme==0.1.9
requests==2.13.0
requests-futures==0.9.7
PySocks==1.5.6
git+https://github.com/maddhatter/Flask-CacheBust.git@38d940cc4f18b5fcb5687746294e0360640a107e#egg=flask_cachebust
cachetools==2.0.0
