/* Gym-Details */




  #gym-details {
    @include vendor('transform', 'translateX(25em)');
    @include vendor('transition', ('transform #{_duration(stats)} ease', 'box-shadow #{_duration(stats)} ease', 'visibility #{_duration(stats)}'));
    -webkit-overflow-scrolling: touch;
    background: #F8F8F8;
    box-shadow: none;
    color: darken(_palette(accent2, bg), 12);
    height: -webkit-calc(100% - 3.5em);
    height: -moz-calc(100% - 3.5em);
    height: calc(100% - 3.5em);
    max-width: 65%;
    overflow-y: auto;
    position: fixed;
    top: 3.50em;
    right: 0;
    visibility: hidden;
    width: 25em;
    z-index: 500;
    line-height:1.65em;
    h3 {
      font-size: 18px;
      font-family: 'Open Sans', sans-serif;
      color: darken(_palette(accent2, bg), 12);
    }
    p {
      margin-bottom: 20px;
      color: darken(_palette(accent2, bg), 12);
    }
    > ul {
      margin: 0 0 (_size(element-margin) * 0.5) 0;

      &.links {
        list-style: none;
        padding: 0;

        > li {
          padding: 0;

          > a:not(.button) {
            border: 0;
            border-top: solid 1px _palette(accent2, border);
            color: inherit;
            display: block;
            letter-spacing: _size(letter-spacing-alt);
            line-height: 3.5em;
            text-decoration: none;
          }

          > .button {
            display: block;
            margin: 0.5em 0 0 0;
          }

          &:first-child {
            > a:not(.button) {
              border-top: 0 !important;
            }
          }
        }
      }
    }

    .close {
      @include icon('\f00d');
      @include vendor('transition', 'color #{_duration(transition)} ease-in-out');
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      border: 0;
      color: _palette(accent2, fg-light);
      cursor: pointer;
      height: 3.25em;
      line-height: 3.25em;
      padding-right: 1.25em;
      position: absolute;
      right: 0;
      text-align: right;
      top: 0;
      vertical-align: middle;
      width: 3em;

      &:before {
        font-size: 1.25em;
      }

      &:hover {
        color: _palette(accent2, fg-bold);
      }

      @include breakpoint(small) {
        padding: 0.5em;
        height: 4em;
        line-height: 4em;
      }
    }

    &.visible {
      @include vendor('transform', 'translateX(0)');
      box-shadow: 0 0 1.5em 0 rgba(0,0,0,0.2);
      visibility: visible;
    }

    @include breakpoint(small) {
      padding: 2em 0em;
      font-size: 70%;
    }

    td {
      @media screen and (max-width: 480px) {
        padding: 0.25em !important;
        vertical-align: middle !important;
      }
      @media screen and (max-width: 320px) {
        padding: 0em !important;
        vertical-align: middle !important;
      }
      padding: 0.25em 1em;
      vertical-align: middle;
    }

    .ivs {
      color: rgb(93,109,126);
      float:left;

      .iv {
        text-align: center;
        width: 20px;
        display: inline-block;
      }

      .type {
        font-size: .5em;
        line-height:1em;
      }

      .value {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
      }
    }

    .moves {
      line-height: 1em;
      color: rgb(93,109,126);
      font-size: .8em;
      // float: right;

      // .move {
      //   display: block;
      // }

      // .move:after {
      //   content: "";
      //   display: table;
      //   clear: both;
      // }

      .move {
        .name {
          float: left;
          clear: left;

          .move-bar-sprite {
            margin-top: 2px;
          }
        }

        .type {
          margin-top: 2px;
          font-size: 9px;
          display: inline-block;
          text-transform: uppercase;
          padding: 2px 3px;
          border-radius: 4px;
          color: white;
          font-family: 'Open Sans', sans-serif;
          font-weight: 300;


          &.fairy {
              background-color: #e898e8;
              // color: _get_text_color(#e898e8);
          }

          &.ghost {
              background-color: #705898;
              // color: _get_text_color(#705898);
          }

          &.normal {
              background-color: #8a8a59;
              // color: _get_text_color(#8a8a59);
          }

          &.grass {
              background-color: #78c850;
              // color: _get_text_color(#78c850);
          }

          &.water {
              background-color: #6890f0;
              // color: _get_text_color(#6890f0);
          }

          &.bug {
              background-color: #a8b820;
              // color: _get_text_color(#a8b820);
          }

          &.fighting {
              background-color: #c03028;
              // color: _get_text_color(#c03028);
          }

          &.electric {
              background-color: #f8d030;
              // color: _get_text_color(#f8d030);
          }

          &.rock {
              background-color: #b8a038;
              // color: _get_text_color(#b8a038);
          }

          &.fire {
              background-color: #f08030;
              // color: _get_text_color(#f08030);
          }

          &.flying {
              background-color: #a890f0;
              // color: _get_text_color(#a890f0);
          }

          &.ice {
              background-color: #98d8d8;
              // color: _get_text_color(#98d8d8);
          }

          &.ground {
              background-color: #e0c068;
              // color: _get_text_color(#e0c068);
          }

          &.steel {
              background-color: #b8b8d0;
              // color: _get_text_color(#b8b8d0);
          }

          &.dragon {
              background-color: #7038f8;
              // color: _get_text_color(#7038f8);
          }

          &.poison {
              background-color: #a040a0;
              // color: _get_text_color(#a040a0);
          }

          &.psychic {
              background-color: #f85888;
              // color: _get_text_color(#f85888);
          }
          &.dark {
              background-color: #705848;
          }
        }
      }

      .damage {
        @media screen and (max-width: 480px) {
          margin-right: 2px !important;
        }
        float: right;
        margin-top: 5px;
        font-family: 'Open Sans', sans-serif;
      }
    }

    .trainer-level {
      font-size: 1.25em;
      font-family: 'Open Sans', sans-serif;
      line-height: 1em;
      font-weight: 900;
    }

    tbody {
      tr {
        background-color: inherit;
        border: 0;

        &:nth-child(4n+1),&:nth-child(odd) {
          border-top: solid _size(border-width) _palette(border);
        }

        &:last-child {
          border-bottom: solid _size(border-width) _palette(border);
        }

        &:nth-child(4n+1), &:nth-child(4n+2) {
          background-color: _palette(border-bg);
        }
      }
    }

    tr.details {
      display:none;
      &.visible {
        display: table-row;
      }
    }

    .gym {
      @media screen and (max-width: 480px) {
        font-size: 10px !important;
      }
      @media screen and (max-width: 320px) {
        font-size: 9px !important;
      }
      color: rgb(93,109,126);
      font-size: 14px;

      &.container {
        display: grid;
        justify-content: center;
      }

      &.name {
        @media screen and (max-width: 480px) {
          font-size: 12px !important;
          margin-bottom: 0px;
        }
        font-size: 16px;
        font-weight: 900;
        margin-bottom: -5px;
        text-decoration: underline;
      }

      &.sprite {
        @media screen and (max-width: 480px) {
          height: 48px !important;
          width: 48px !important;
        }
        display: block;
        height: 96px;
        width: 96px;

        &.pokemon {
          @media screen and (max-width: 480px) {
            height: 30px !important;
            width: 30px !important;
          }
          display: block;
          height: 48px;
          width: 48px;
        }
      }

      &.info {

        &.last-modified:before {
          content: '\f040';
          display: inline-block;
          font-family: FontAwesome;
          height: 16px;
          width: 16px;
          -webkit-font-smoothing: antialiased;
        }

        &.last-scanned:before {
          content: '\f002';
          display: inline-block;
          font-family: FontAwesome;
          height: 16px;
          width: 16px;
          -webkit-font-smoothing: antialiased;
        }

        &.navigate:before {
          content: '\f018';
          display: inline-block;
          font-family: FontAwesome;
          height: 16px;
          width: 16px;
          -webkit-font-smoothing: antialiased;
        }

        &.strength {
          @media screen and (max-width: 480px) {
            height: 12px !important;
            width: 12px !important;
          }
          font-weight: 900;
          height: 16px;
          width: 16px;
          vertical-align: middle;
        }
      }

      &.pokemon {
        font-size: 12px;
        line-height: 1rem;

        &.motivation.decayed:before {
          content: '\f004';
          display: inline-block;
          font-family: FontAwesome;
          width: 24px;
          -webkit-font-smoothing: antialiased;
        }

        &.motivation.decayed {
          @media screen and (max-width: 480px) {
            font-size: 9px !important;
          }
          font-weight: 900;
          font-size: 16px;
          white-space: nowrap;
          &.zone {
            &.good {
              color: rgba(16,155,49,1);
            }
            &.average {
              color: rgba(235,193,26,1);
            }
            &.bad {
              color: rgba(255,25,25,1);
            }
          }
        }

        &.motivation.cp:before {
          color: #fc6fb0;
          content: '\f004';
          display: inline-block;
          font-family: FontAwesome;
          width: 12px;
          -webkit-font-smoothing: antialiased;
        }

        &.motivation.cp {
          @media screen and (max-width: 480px) {
            font-size: 8px !important;
          }
          color: #000;
          font-size: 10px;
          font-weight: 500;
          text-align: inherit;
          white-space: nowrap;
        }
      }
    }

    .raid {
      @media screen and (max-width: 480px) {
        font-size: 10px !important;
      }
      @media screen and (max-width: 320px) {
        font-size: 9px !important;
      }
      color: rgb(93,109,126);
      font-size: 14px;
      font-weight: 900;
      @media screen and (max-width: 480px) {
        margin-bottom: 0px !important;
      }
      margin-bottom: 5px;

      &.container {
        display: flex;
        justify-content: center;

        &.content-left {
          @media screen and (max-width: 480px) {
            width: 64px !important;
          }
          width:96px;
        }

        &.content-right {
          margin-bottom: auto;
          margin-top: auto;
        }
      }

      &.countdown {

        &:before {
          @media screen and (max-width: 480px) {
            margin: 0px -2px 0px -2px !important;
          }
          content: '\f017';
          display: inline-block;
          font-family: FontAwesome;
          margin: 0px 2px 0px 0px;
          height: 16px;
          width: 16px;
          -webkit-font-smoothing: antialiased;
        }
      }

      &.pokemon {
        font-size: 16px;
        font-weight: 900;
        float: left;
      }

      .move {
        .name {
          @media screen and (max-width: 480px) {
            font-size: 10px !important;
            margin: 0px 0px 2px 0px !important;
          }
          @media screen and (max-width: 320px) {
            font-size: 9px !important;
          }
          font-size: 14px;
          float: left;
          clear: left;
          margin: 0px 5px 5px 10px
        }
        @media screen and (max-width: 480px) {
          font-size: 6px !important;
        }
        .type {
          @media screen and (max-width: 480px) {
            font-size: 6px !important;
            margin: 0px 0px 2px 0px !important;
          }
          margin: 0px 0px 5px 0px;
          font-size: 10px;
          padding: 0px 5px;
          border-radius: 4px;
          color: white;
          float: right;
          clear: right;


          &.fairy {
              background-color: #e898e8;
              // color: _get_text_color(#e898e8);
          }

          &.ghost {
              background-color: #705898;
              // color: _get_text_color(#705898);
          }

          &.normal {
              background-color: #8a8a59;
              // color: _get_text_color(#8a8a59);
          }

          &.grass {
              background-color: #78c850;
              // color: _get_text_color(#78c850);
          }

          &.water {
              background-color: #6890f0;
              // color: _get_text_color(#6890f0);
          }

          &.bug {
              background-color: #a8b820;
              // color: _get_text_color(#a8b820);
          }

          &.fighting {
              background-color: #c03028;
              // color: _get_text_color(#c03028);
          }

          &.electric {
              background-color: #f8d030;
              // color: _get_text_color(#f8d030);
          }

          &.rock {
              background-color: #b8a038;
              // color: _get_text_color(#b8a038);
          }

          &.fire {
              background-color: #f08030;
              // color: _get_text_color(#f08030);
          }

          &.flying {
              background-color: #a890f0;
              // color: _get_text_color(#a890f0);
          }

          &.ice {
              background-color: #98d8d8;
              // color: _get_text_color(#98d8d8);
          }

          &.ground {
              background-color: #e0c068;
              // color: _get_text_color(#e0c068);
          }

          &.steel {
              background-color: #b8b8d0;
              // color: _get_text_color(#b8b8d0);
          }

          &.dragon {
              background-color: #7038f8;
              // color: _get_text_color(#7038f8);
          }

          &.poison {
              background-color: #a040a0;
              // color: _get_text_color(#a040a0);
          }

          &.psychic {
              background-color: #f85888;
              // color: _get_text_color(#f85888);
          }
          &.dark {
              background-color: #705848;
          }
        }
      }
    }
  }
