.move-bar-sprite {
    background-image: url(../../../move-bar-sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.move-bar-sprite-1 {
    width: 100px;
    height: 11px;
    background-position: -2px -2px;
}

.move-bar-sprite-2 {
    width: 100px;
    height: 11px;
    background-position: -2px -17px;
}

.move-bar-sprite-3 {
    width: 100px;
    height: 11px;
    background-position: -2px -32px;
}

.move-bar-sprite-4 {
    width: 100px;
    height: 11px;
    background-position: -2px -47px;
}

.move-bar-sprite-5 {
    width: 100px;
    height: 11px;
    background-position: -2px -62px;
}
