.pokemon-large-sprite {
  display: inline-block;
  background-image: url(../../../icons-large-sprite.png);
  background-repeat: no-repeat;
  top: 6px;
  position: relative;
  -moz-transform-origin: 0 0;
  height: 65px;
  width: 65px;
}

.pokemon-large-sprite.n1 {
    background-position: -0px -0px;
}

.pokemon-large-sprite.n2 {
    background-position: -65px -0px;
}

.pokemon-large-sprite.n3 {
    background-position: -130px -0px;
}

.pokemon-large-sprite.n4 {
    background-position: -195px -0px;
}

.pokemon-large-sprite.n5 {
    background-position: -260px -0px;
}

.pokemon-large-sprite.n6 {
    background-position: -325px -0px;
}

.pokemon-large-sprite.n7 {
    background-position: -390px -0px;
}

.pokemon-large-sprite.n8 {
    background-position: -0px -65px;
}

.pokemon-large-sprite.n9 {
    background-position: -65px -65px;
}

.pokemon-large-sprite.n10 {
    background-position: -130px -65px;
}

.pokemon-large-sprite.n11 {
    background-position: -195px -65px;
}

.pokemon-large-sprite.n12 {
    background-position: -260px -65px;
}

.pokemon-large-sprite.n13 {
    background-position: -325px -65px;
}

.pokemon-large-sprite.n14 {
    background-position: -390px -65px;
}

.pokemon-large-sprite.n15 {
    background-position: -0px -130px;
}

.pokemon-large-sprite.n16 {
    background-position: -65px -130px;
}

.pokemon-large-sprite.n17 {
    background-position: -130px -130px;
}

.pokemon-large-sprite.n18 {
    background-position: -195px -130px;
}

.pokemon-large-sprite.n19 {
    background-position: -260px -130px;
}

.pokemon-large-sprite.n20 {
    background-position: -325px -130px;
}

.pokemon-large-sprite.n21 {
    background-position: -390px -130px;
}

.pokemon-large-sprite.n22 {
    background-position: -0px -195px;
}

.pokemon-large-sprite.n23 {
    background-position: -65px -195px;
}

.pokemon-large-sprite.n24 {
    background-position: -130px -195px;
}

.pokemon-large-sprite.n25 {
    background-position: -195px -195px;
}

.pokemon-large-sprite.n26 {
    background-position: -260px -195px;
}

.pokemon-large-sprite.n27 {
    background-position: -325px -195px;
}

.pokemon-large-sprite.n28 {
    background-position: -390px -195px;
}

.pokemon-large-sprite.n29 {
    background-position: -0px -260px;
}

.pokemon-large-sprite.n30 {
    background-position: -65px -260px;
}

.pokemon-large-sprite.n31 {
    background-position: -130px -260px;
}

.pokemon-large-sprite.n32 {
    background-position: -195px -260px;
}

.pokemon-large-sprite.n33 {
    background-position: -260px -260px;
}

.pokemon-large-sprite.n34 {
    background-position: -325px -260px;
}

.pokemon-large-sprite.n35 {
    background-position: -390px -260px;
}

.pokemon-large-sprite.n36 {
    background-position: -0px -325px;
}

.pokemon-large-sprite.n37 {
    background-position: -65px -325px;
}

.pokemon-large-sprite.n38 {
    background-position: -130px -325px;
}

.pokemon-large-sprite.n39 {
    background-position: -195px -325px;
}

.pokemon-large-sprite.n40 {
    background-position: -260px -325px;
}

.pokemon-large-sprite.n41 {
    background-position: -325px -325px;
}

.pokemon-large-sprite.n42 {
    background-position: -390px -325px;
}

.pokemon-large-sprite.n43 {
    background-position: -0px -390px;
}

.pokemon-large-sprite.n44 {
    background-position: -65px -390px;
}

.pokemon-large-sprite.n45 {
    background-position: -130px -390px;
}

.pokemon-large-sprite.n46 {
    background-position: -195px -390px;
}

.pokemon-large-sprite.n47 {
    background-position: -260px -390px;
}

.pokemon-large-sprite.n48 {
    background-position: -325px -390px;
}

.pokemon-large-sprite.n49 {
    background-position: -390px -390px;
}

.pokemon-large-sprite.n50 {
    background-position: -0px -455px;
}

.pokemon-large-sprite.n51 {
    background-position: -65px -455px;
}

.pokemon-large-sprite.n52 {
    background-position: -130px -455px;
}

.pokemon-large-sprite.n53 {
    background-position: -195px -455px;
}

.pokemon-large-sprite.n54 {
    background-position: -260px -455px;
}

.pokemon-large-sprite.n55 {
    background-position: -325px -455px;
}

.pokemon-large-sprite.n56 {
    background-position: -390px -455px;
}

.pokemon-large-sprite.n57 {
    background-position: -0px -520px;
}

.pokemon-large-sprite.n58 {
    background-position: -65px -520px;
}

.pokemon-large-sprite.n59 {
    background-position: -130px -520px;
}

.pokemon-large-sprite.n60 {
    background-position: -195px -520px;
}

.pokemon-large-sprite.n61 {
    background-position: -260px -520px;
}

.pokemon-large-sprite.n62 {
    background-position: -325px -520px;
}

.pokemon-large-sprite.n63 {
    background-position: -390px -520px;
}

.pokemon-large-sprite.n64 {
    background-position: -0px -585px;
}

.pokemon-large-sprite.n65 {
    background-position: -65px -585px;
}

.pokemon-large-sprite.n66 {
    background-position: -130px -585px;
}

.pokemon-large-sprite.n67 {
    background-position: -195px -585px;
}

.pokemon-large-sprite.n68 {
    background-position: -260px -585px;
}

.pokemon-large-sprite.n69 {
    background-position: -325px -585px;
}

.pokemon-large-sprite.n70 {
    background-position: -390px -585px;
}

.pokemon-large-sprite.n71 {
    background-position: -0px -650px;
}

.pokemon-large-sprite.n72 {
    background-position: -65px -650px;
}

.pokemon-large-sprite.n73 {
    background-position: -130px -650px;
}

.pokemon-large-sprite.n74 {
    background-position: -195px -650px;
}

.pokemon-large-sprite.n75 {
    background-position: -260px -650px;
}

.pokemon-large-sprite.n76 {
    background-position: -325px -650px;
}

.pokemon-large-sprite.n77 {
    background-position: -390px -650px;
}

.pokemon-large-sprite.n78 {
    background-position: -0px -715px;
}

.pokemon-large-sprite.n79 {
    background-position: -65px -715px;
}

.pokemon-large-sprite.n80 {
    background-position: -130px -715px;
}

.pokemon-large-sprite.n81 {
    background-position: -195px -715px;
}

.pokemon-large-sprite.n82 {
    background-position: -260px -715px;
}

.pokemon-large-sprite.n83 {
    background-position: -325px -715px;
}

.pokemon-large-sprite.n84 {
    background-position: -390px -715px;
}

.pokemon-large-sprite.n85 {
    background-position: -0px -780px;
}

.pokemon-large-sprite.n86 {
    background-position: -65px -780px;
}

.pokemon-large-sprite.n87 {
    background-position: -130px -780px;
}

.pokemon-large-sprite.n88 {
    background-position: -195px -780px;
}

.pokemon-large-sprite.n89 {
    background-position: -260px -780px;
}

.pokemon-large-sprite.n90 {
    background-position: -325px -780px;
}

.pokemon-large-sprite.n91 {
    background-position: -390px -780px;
}

.pokemon-large-sprite.n92 {
    background-position: -0px -845px;
}

.pokemon-large-sprite.n93 {
    background-position: -65px -845px;
}

.pokemon-large-sprite.n94 {
    background-position: -130px -845px;
}

.pokemon-large-sprite.n95 {
    background-position: -195px -845px;
}

.pokemon-large-sprite.n96 {
    background-position: -260px -845px;
}

.pokemon-large-sprite.n97 {
    background-position: -325px -845px;
}

.pokemon-large-sprite.n98 {
    background-position: -390px -845px;
}

.pokemon-large-sprite.n99 {
    background-position: -0px -910px;
}

.pokemon-large-sprite.n100 {
    background-position: -65px -910px;
}

.pokemon-large-sprite.n101 {
    background-position: -130px -910px;
}

.pokemon-large-sprite.n102 {
    background-position: -195px -910px;
}

.pokemon-large-sprite.n103 {
    background-position: -260px -910px;
}

.pokemon-large-sprite.n104 {
    background-position: -325px -910px;
}

.pokemon-large-sprite.n105 {
    background-position: -390px -910px;
}

.pokemon-large-sprite.n106 {
    background-position: -0px -975px;
}

.pokemon-large-sprite.n107 {
    background-position: -65px -975px;
}

.pokemon-large-sprite.n108 {
    background-position: -130px -975px;
}

.pokemon-large-sprite.n109 {
    background-position: -195px -975px;
}

.pokemon-large-sprite.n110 {
    background-position: -260px -975px;
}

.pokemon-large-sprite.n111 {
    background-position: -325px -975px;
}

.pokemon-large-sprite.n112 {
    background-position: -390px -975px;
}

.pokemon-large-sprite.n113 {
    background-position: -0px -1040px;
}

.pokemon-large-sprite.n114 {
    background-position: -65px -1040px;
}

.pokemon-large-sprite.n115 {
    background-position: -130px -1040px;
}

.pokemon-large-sprite.n116 {
    background-position: -195px -1040px;
}

.pokemon-large-sprite.n117 {
    background-position: -260px -1040px;
}

.pokemon-large-sprite.n118 {
    background-position: -325px -1040px;
}

.pokemon-large-sprite.n119 {
    background-position: -390px -1040px;
}

.pokemon-large-sprite.n120 {
    background-position: -0px -1105px;
}

.pokemon-large-sprite.n121 {
    background-position: -65px -1105px;
}

.pokemon-large-sprite.n122 {
    background-position: -130px -1105px;
}

.pokemon-large-sprite.n123 {
    background-position: -195px -1105px;
}

.pokemon-large-sprite.n124 {
    background-position: -260px -1105px;
}

.pokemon-large-sprite.n125 {
    background-position: -325px -1105px;
}

.pokemon-large-sprite.n126 {
    background-position: -390px -1105px;
}

.pokemon-large-sprite.n127 {
    background-position: -0px -1170px;
}

.pokemon-large-sprite.n128 {
    background-position: -65px -1170px;
}

.pokemon-large-sprite.n129 {
    background-position: -130px -1170px;
}

.pokemon-large-sprite.n130 {
    background-position: -195px -1170px;
}

.pokemon-large-sprite.n131 {
    background-position: -260px -1170px;
}

.pokemon-large-sprite.n132 {
    background-position: -325px -1170px;
}

.pokemon-large-sprite.n133 {
    background-position: -390px -1170px;
}

.pokemon-large-sprite.n134 {
    background-position: -0px -1235px;
}

.pokemon-large-sprite.n135 {
    background-position: -65px -1235px;
}

.pokemon-large-sprite.n136 {
    background-position: -130px -1235px;
}

.pokemon-large-sprite.n137 {
    background-position: -195px -1235px;
}

.pokemon-large-sprite.n138 {
    background-position: -260px -1235px;
}

.pokemon-large-sprite.n139 {
    background-position: -325px -1235px;
}

.pokemon-large-sprite.n140 {
    background-position: -390px -1235px;
}

.pokemon-large-sprite.n141 {
    background-position: -0px -1300px;
}

.pokemon-large-sprite.n142 {
    background-position: -65px -1300px;
}

.pokemon-large-sprite.n143 {
    background-position: -130px -1300px;
}

.pokemon-large-sprite.n144 {
    background-position: -195px -1300px;
}

.pokemon-large-sprite.n145 {
    background-position: -260px -1300px;
}

.pokemon-large-sprite.n146 {
    background-position: -325px -1300px;
}

.pokemon-large-sprite.n147 {
    background-position: -390px -1300px;
}

.pokemon-large-sprite.n148 {
    background-position: -0px -1365px;
}

.pokemon-large-sprite.n149 {
    background-position: -65px -1365px;
}

.pokemon-large-sprite.n150 {
    background-position: -130px -1365px;
}

.pokemon-large-sprite.n151 {
    background-position: -195px -1365px;
}
