.status_container{
    display: none;
}

.overlay{
    z-index: 100000;
    display: none;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}

#location_map{
    height: 100%;
}

#times_list{
    float: left;
    background: white;
    position: fixed;
    top: 60px;
    bottom: 60px;
    width: 200px;
    z-index: 9999;
    overflow: auto;
}

#times_list div{
    padding-bottom: 2px;
}

#times_list .row0{
    background: #f1f1f1;
}

#times_list .row1{
    background: #f8f8f8;
}

.overlay .close{
    position: relative;
    float: right;
    margin-top: 20px;
    margin-right: 100px;
    background: white;
    cursor: pointer;
}

.overlay .content{
    background: white;
    margin: 50px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 10px;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#loading{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
}

#loading img{
    top: 50%;
    left: 50%;
    margin-right: -50%;
    position: absolute;
}