.gym-member {
  
  display: inline-block;
  margin-left: 1px;

  .cp {
    display: block;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    font-size: .85em;

    &.team-1 {
      background-color: #4A8ACA;
      color: #fff;
    }

    &.team-2 {
      background-color: #F0443A;
      color: #fff;
    }

    &.team-3 {
      background-color: #FED928;
      color: #000;
    }
  }
}
