<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RocketMap - Bookmarklet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/app.min.css').lstrip('/') }}">
</head>
  <body style="width:660px; margin:40px auto;">
    <h3>Don't save THIS page in bookmarks!</h3>
    <p>The bookmarklet to solve captchas is the link just below:</p>
    <script>
    document.write("<a href=\"javascript:(function(){if(window.location.href!='http://pgorelease.nianticlabs.com/'){window.location.href='http://pgorelease.nianticlabs.com/'}else{document.getElementsByTagName('head')[0].appendChild(document.createElement('script')).src='{{domain}}/inject.js?'+Math.random();}}());\" style=\"font-size:1.3em\">Solve Recaptcha</a>")
    </script>
    <br /><br />
    <p>You can drag the link directly to bookmarks menu in your browser.</p>
    <p>Verify that the URL of the bookmark starts with <code>javascript:</code>.</p>
  </body>
</html>
