<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RocketMap - Statistics</title>

    <!-- Fav- & Apple-Touch-Icons -->
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/appicons/favicon.ico').lstrip('/') }}" type="image/x-icon">
    <!-- non-retina iPhone pre iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/114x114.png').lstrip('/') }}" sizes="57x57">
    <!-- non-retina iPad pre iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/144x144.png').lstrip('/') }}" sizes="72x72">
    <!-- non-retina iPad iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/152x152.png').lstrip('/') }}" sizes="76x76">
    <!-- retina iPhone pre iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/114x114.png').lstrip('/') }}" sizes="114x114">
    <!-- retina iPhone iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/120x120.png').lstrip('/') }}" sizes="120x120">
    <!-- retina iPad pre iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/144x144.png').lstrip('/') }}" sizes="144x144">
    <!-- retina iPad iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/152x152.png').lstrip('/') }}" sizes="152x152">
    <!-- retina iPhone 6 iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/180x180.png').lstrip('/') }}" sizes="180x180">

    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/app.min.css').lstrip('/') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/status.min.css').lstrip('/') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/statistics.min.css').lstrip('/') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <!-- Custom CSS code-->
      {% if show.custom_css %}
    <link rel="stylesheet" type="text/css" href="static/css/custom.css">
      {% endif %}
</head>
<body class="statisticsPage">
        <!-- Header -->
        <header id="header">
          <a href="#nav"><span class="label">Options</span></a>
          <h1><a href="./">RocketMap<img class='rocket icon' src='static/images/rocket.png'></a></h1>
          <a href="status" target="_blank" style="float: right;"><span class="label">Status</span></a>
        </header>
        <nav id="nav">
          <div id="nav-accordion" class="ui-accordion-content">
            <div class="form-control switch-container">
              <h3>Duration</h3>
              <select id="duration" name="duration" class="input">
                <option value="1">Last Hour</option>
                <option value="3">Last 3 Hours</option>
                <option value="6">Last 6 Hours</option>
                <option value="12">Last 12 Hours</option>
                <option value="24" selected="">Last Day</option>
                <option value="168">Last 7 Days</option>
                <option value="336">Last 14 Days</option>
                <option value="730">Last Month</option>
                <option value="2190">Last 3 Months</option>
                <option value="4380">Last 6 Months</option>
                <option value="8760">Last Year</option>
                <option value="876000">Map Lifetime</option>  
              </select>
            </div>
          </div>
        </nav>
        <div class="spacing"></div>
        <div class="status_container" id="status_container">
            <div id="totals" class="worker">
                <span id="name" class="name">Pokemon Seen in Last Day</span>
                <span id="message" class="message"></span>
            </div>
            <table id="stats_table" class="status_table">
                <thead>
                    <tr class="status_row header">
                        <td class="status_cell"></td>
                        <td class="status_cell">Pokedex #</td>
                        <td class="status_cell">Name</td>
                        <td class="status_cell">Seen</td>
                        <td class="status_cell">Seen (%)</td>
                        <td class="status_cell">Last Seen</td>
                        <td class="status_cell">Location</td>
                        <td class="status_cell"></td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div id="loading"><img src="{{ url_for('static', filename='images/loading.gif').lstrip('/') }}" alt="Loading"/></div>
        <div class="container" id="seen_container">
        </div>
        <div id="location_details" class="overlay">
            <div class="close" onclick="closeOverlay();"><img src="{{ url_for('static', filename='images/close.png').lstrip('/') }}" alt="Close" /></div>
            <div class="location_header"><h3 id="location_header"></h3></div>
            <div class="content">
                <div id="times_list" style="display: none;"></div>
                <div id="location_map">
                    <script src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_key }}&amp;libraries=visualization"></script>
                </div>
            </div>
        </div>
    <!-- Load JS libs before custom scripts. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
      var centerLat = {{lat}};
      var centerLng = {{lng}};
    </script>
    <script src="{{ url_for('static', filename='dist/js/map.common.min.js').lstrip('/') }}"></script>
    <!-- Load custom JS before statistics.js so it can change Store defaults. -->
      {% if show.custom_js %}
    <script src="{{ url_for('static', filename='dist/js/custom.min.js').lstrip('/') }}"></script>
      {% endif %}
    <script src="{{ url_for('static', filename='dist/js/app.min.js').lstrip('/') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/statistics.min.js').lstrip('/') }}"></script>
</body>
</html>