<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RocketMap - Status</title>

    <!-- Fav- & Apple-Touch-Icons -->
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/appicons/favicon.ico').lstrip('/') }}" type="image/x-icon">
    <!-- non-retina iPhone pre iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/114x114.png').lstrip('/') }}" sizes="57x57">
    <!-- non-retina iPad pre iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/144x144.png').lstrip('/') }}" sizes="72x72">
    <!-- non-retina iPad iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/152x152.png').lstrip('/') }}" sizes="76x76">
    <!-- retina iPhone pre iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/114x114.png').lstrip('/') }}" sizes="114x114">
    <!-- retina iPhone iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/120x120.png').lstrip('/') }}" sizes="120x120">
    <!-- retina iPad pre iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/144x144.png').lstrip('/') }}" sizes="144x144">
    <!-- retina iPad iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/152x152.png').lstrip('/') }}" sizes="152x152">
    <!-- retina iPhone 6 iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/180x180.png').lstrip('/') }}" sizes="180x180">


    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/app.min.css').lstrip('/') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/status.min.css').lstrip('/') }}">
    <!-- Custom CSS code-->
      {% if show.custom_css %}
    <link rel="stylesheet" type="text/css" href="static/css/custom.css">
      {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</head>
<body class="statusPage">
<!-- Header -->
<header id="header">
    <a href="#nav"><span class="label">Options</span></a>
    <h1><a href="./">RocketMap<img class='rocket icon' src='static/images/rocket.png'></a></h1>
</header>
<nav id="nav">
  <div id="nav-accordion">
    <div class="form-control switch-container">
      <h3>Group by Workers</h3>
      <div class="onoffswitch">
        <input id="groupbyworker-switch" type="checkbox" name="groupbyworker-switch" class="onoffswitch-checkbox" checked>
        <label class="onoffswitch-label" for="groupbyworker-switch">
          <span class="switch-label" data-on="On" data-off="Off"></span>
          <span class="switch-handle"></span>
        </label>
      </div>
    </div>
    <div class="form-control switch-container">
     <h3>Show Workers</h3>
     <div class="onoffswitch">
       <input id="showworker-switch" type="checkbox" name="showworker-switch" class="onoffswitch-checkbox" checked>
       <label class="onoffswitch-label" for="showworker-switch">
         <span class="switch-label" data-on="On" data-off="Off"></span>
         <span class="switch-handle"></span>
       </label>
     </div>
   </div>
   <div class="form-control switch-container">
      <h3>Hash Key Status</h3>
      <div class="onoffswitch">
        <input id="hashkey-switch" type="checkbox" name="hashkey-switch" class="onoffswitch-checkbox" checked>
        <label class="onoffswitch-label" for="hashkey-switch">
          <span class="switch-label" data-on="On" data-off="Off"></span>
          <span class="switch-handle"></span>
        </label>
      </div>
    </div>
  </div>
</nav>
<div class="spacing"></div>
<div class="status_container" id="status_container">
    <div class="status_form">
        <form class="login-form" id="password_form">
            <input id="password" type="password" placeholder="password"/>
            <button>login</button>
        </form>
    </div>
</div>
<!-- Load JS libs before custom scripts. -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
<!-- Load custom JS before status.js so it can change Store defaults. -->
  {% if show.custom_js %}
<script src="{{ url_for('static', filename='dist/js/custom.min.js').lstrip('/') }}"></script>
  {% endif %}
<script src="{{ url_for('static', filename='dist/js/status.min.js').lstrip('/') }}"></script>
<script src="{{ url_for('static', filename='dist/js/app.min.js').lstrip('/') }}"></script>
</body>
</html>
